################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tickets.API/bin/Debug/net8.0
/.vs
/Tickets.API/obj
